$alpha-primary-color: #2196F3;
$alpha-secondary-color: #ffb677;
$alpha-primary-text-color:#212121;

$alpha-green-0: rgba($color: #20d500, $alpha: 1.0);
$alpha-green-1: rgba($color: #58e040, $alpha: 1.0);
$alpha-green-2: rgba($color: #90ea80, $alpha: 1.0);
$alpha-green-3: rgba($color: #c7f5bf, $alpha: 1.0);

$alpha-red-0: rgba($color: #d51a00, $alpha: 1.0);
$alpha-red-1: rgba($color: #e05340, $alpha: 1.0);
$alpha-red-2: rgba($color: #ea8d80, $alpha: 1.0);
$alpha-red-3: rgba($color: #f5c6bf, $alpha: 1.0);
