@import '_base.scss';
@import '_bootstrap-override.scss';

@font-face {
  font-family: 'Neogrey';
  src: url('../assets/fonts/neogrey/NeogreyMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/neogrey/NeogreyMedium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Pretty Modern Browsers */
}

@media screen and (min-width: 601px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
