@font-face {
  font-family: 'Neogrey';
  src: url('./assets/fonts/neogrey/NeogreyMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/neogrey/NeogreyMedium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Pretty Modern Browsers */
}
